body{
    font:Helvetica, Arial, sans-serif;
    background: #f0f2f5;
}

.fb-text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    margin-top: -2%;
}
.left{
    
    margin-top: 13%;
    margin-left: 13%;
}
.right{
    background-color: white;
    width: 427px;
    height: 380px;
    border: grey 1px solid;
    border-radius: 8px;
    padding: 20px;
    margin-top: 40%;
    margin-left: 10%;
    box-shadow: rgb(117, 114, 114) 2px 5px 5px 5px;
}
.login{
    width: 100%;
    color: white;
    height: 52px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
.newacc{
    width: 50%;
    background-color: rgb(27, 139, 27);
    color: white;
    height: 52px;
    border-radius: 5px;
    font-size: 18px;
}
.form-group{
    padding: 20px;
}
.form-control{
    height: 55px;
    font-size: 18px;
    width: 112%;
    margin-left: -6%;
    margin-top: -5%;
}
h6{
    margin-top: 46px;
    margin-left: 10px;
    width: 470px;
}
.fb-img{
    margin-left: -30px;
    width: 54%;
}

