body{
    font:Helvetica, Arial, sans-serif;
}
.left-section{
    margin-top: 175px;
    margin-left: 142px;
}
.fb-image{
    height: 118px;
    margin: -28px;
}
.fb-text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: normal;
    line-height: 35px;
    margin-top: 22px;
    margin-left: 5px;
}